{% extends 'BraincraftedUserBundle::admin_layout.html.twig' %}

{% block braincrafted_user_admin_content %}

<div class="page-header">
    <h1>{{ 'admin.invite_request.invite_requests'|trans({}, 'BraincraftedUserBundle') }}</h1>
</div>

<table class="table table-striped table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'admin.invite_request.table.email'|trans({}, 'BraincraftedUserBundle') }}</th>
            <th>{{ 'admin.invite_request.table.date_created'|trans({}, 'BraincraftedUserBundle') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for inviteRequest in inviteRequests %}
        <tr>
            <td>{{ inviteRequest.id }}</td>
            <td>{{ inviteRequest.email }}</td>
            <td>{{ inviteRequest.createdAt|date('Y-m-d') }}</td>
            <td>
                <a href="{{ path('braincrafted_user_admin_invite_request_invite', { 'inviteRequestId': inviteRequest.id }) }}" class="btn btn-mini">{{ 'admin.invite_request.table.invite'|trans({}, 'BraincraftedUserBundle') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock braincrafted_user_admin_content %}