{% extends 'BraincraftedUserBundle::admin_layout.html.twig' %}

{% block braincrafted_user_admin_content %}
<div class="page-header">
    <h1>Invites</h1>
</div>

{% include 'BraincraftedBootstrapBundle::flash.html.twig' %}

<div class="invite-percentage">
    <div class="pull-left">
        <span class="label">{{ usedInvitesCount }} used invite{{ usedInvitesCount > 1 ? 's':'' }}</span>
        <div class="progress">
            <div class="bar bar-success" style="width:{{ usedInvitesPercentage }}%"></div>
        </div>
    </div>
    <div class="pull-right">
        <span class="label">{{ sentInvitesCount }} sent invite{{ sentInvitesCount > 1 ? 's':'' }}</span>
        <div class="progress">
            <div class="bar bar-warning" style="width:{{ sentInvitesPercentage }}%"></div>
        </div>
    </div>
</div>

<div class="btn-toolbar">
    <a href="{{ path('braincrafted_user_admin_invite_create') }}" class="btn btn-small btn-primary">Create invite</a>
    <div class="btn-group">
        <a href="{{ path('braincrafted_user_admin_invite_batch_create', { 'number': 5 }) }}" class="btn btn-small">5</a>
        <a href="{{ path('braincrafted_user_admin_invite_batch_create', { 'number': 10 }) }}" class="btn btn-small">10</a>
        <a href="{{ path('braincrafted_user_admin_invite_batch_create', { 'number': 50 }) }}" class="btn btn-small">50</a>
        <a href="{{ path('braincrafted_user_admin_invite_batch_create', { 'number': 100 }) }}" class="btn btn-small">100</a>
    </div>
</div>

<table class="table table-bordered table-condensed table-striped table-hover">
    <thead>
        <tr>
            <th>Code</th>
            <th>Email</th>
            <th>Is sent?</th>
            <th>Used by</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for invite in invites %}
        <tr>
            <td>{{ invite.code }}</td>
            <td>{{ invite.email }}</td>
            <td><i class="icon-{{ invite.isSent ? 'ok' : 'remove' }}"></i></td>
            <td>{{ invite.user ? invite.user : '' }}</td>
            <td>
                {% if invite.email and not invite.isSent and not invite.user %}
                    <a href="{{ path('braincrafted_user_admin_invite_send', { 'code': invite.code }) }}" class="btn btn-mini"><i class="icon-share-alt"></i> Send</a>
                {% endif %}
                <a href="{{ path('braincrafted_user_admin_invite_delete', { 'code': invite.code }) }}" class="btn btn-mini"><i class="icon-remove"></i> Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock braincrafted_user_admin_content %}
