{% extends 'BraincraftedUserBundle::admin_layout.html.twig' %}

{% block braincrafted_user_admin_content %}

<div class="page-header">
    <h1>{{ 'admin.user.users'|trans({}, 'BraincraftedUserBundle') }}</h1>
</div>

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="{{ path('braincrafted_user_admin_create') }}" class="btn btn-primary">{{ 'admin.user.create_user'|trans({}, 'BraincraftedUserBundle') }}</a>
    </div>
</div>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'admin.user.username'|trans({}, 'BraincraftedUserBundle') }}</th>
            <th>{{ 'admin.user.email'|trans({}, 'BraincraftedUserBundle') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{{ path('braincrafted_user_admin_update', { 'userId': user.id }) }}">{{ 'admin.user.update'|trans({}, 'BraincraftedUserBundle') }}</a>
                <a href="{{ path('braincrafted_user_admin_delete', { 'userId': user.id }) }}">{{ 'admin.user.delete'|trans({}, 'BraincraftedUserBundle') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock braincrafted_user_admin_content %}