{% extends 'BcUserBundle::admin_layout.html.twig' %}

{% block bc_user_admin_content %}

<div class="page-header">
    <h1>{{ 'user.users'|trans({}, 'BcUserAdminBundle') }}</h1>
</div>

{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-error">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{ flashMessage }}
    </div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('warning') %}
    <div class="alert">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="btn-toolbar">
    <div class="btn-group"><a href="{{ path('bc_user_admin_create') }}" class="btn btn-primary">{{ 'user.create_user'|trans({}, 'BcUserAdminBundle') }}</a></div>
</div>

<table class="table table-striped table-condensed table-bordered table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>{{ 'user.username'|trans({}, 'BcUserAdminBundle') }}</th>
            <th>{{ 'user.email'|trans({}, 'BcUserAdminBundle') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="{{ path('bc_user_admin_update', { 'userId': user.id }) }}" class="btn btn-mini">{{ 'user.update'|trans({}, 'BcUserAdminBundle') }}</a>
                <a href="{{ path('bc_user_admin_delete', { 'userId': user.id }) }}" class="btn btn-mini">{{ 'user.delete'|trans({}, 'BcUserAdminBundle') }}</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock bc_user_admin_content %}