<div class="page-header">
    <h1>Edit your profile</h1>
</div>

{% include "BraincraftedUserBundle:Profile:toolbar.html.twig" with { 'active': 'edit' } %}

<hr>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal" role="form">

    {{ bootstrap_set_style('horizontal') }}
    {{ form_widget(form, {'style': 'horizontal'}) }}

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
        </div>
    </div>

    {{ bootstrap_set_style('') }}

</form>

{% include "BraincraftedUserBundle:Profile:delete_button.html.twig" %}
